@media only screen and (max-width: 426px) {
    body {background-image: url(fundo.png);}}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    background-color: #a24bd1;
    color: #F2F2F2;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    animation: fadein 1.8s;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@keyframes fadein{
    from { opacity: 0;}
    to   { opacity: 1;}
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

h1{
    font-weight: bold;
}

section{
    margin-bottom: 40px;
}

a{
    color: unset;
    text-decoration: none;
}

b{
    font-weight: 800;
}

/* PRE STYLE */

.fontLight{
    font-weight: 200;
}

.noMargin{
    margin: 0px;
}

.shadow{
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.titulo{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 5%;
}

.button_voltar{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 5%;
}

.none{
    border: none;
    outline: none;
    background: transparent;
}

.qtd input{
    text-align: center;
}

/* PAGE 1 */

.div_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_login{
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 35px;
    padding-left: 10px;
    outline: none;
}

.input_login::placeholder{
    position: absolute;
    padding: 2% 90%;
}

.texto_login{
    display: flex;
    align-self: flex-start;
}

.button{
    width: 185px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.20);
    font-weight: 700;
    font-size: 28px;
    color: #01400B;
}

.linha{
    position: absolute;
    top: 90%;
    left: auto;
    margin-left: -100px;
    width: 200px;
    height: 4px;
    border-radius: 20px;
    background-color: #8717A6;
    box-shadow: 0px 0px 100px 1px #F2F2F2F2;
}

/* PAGE 2 */

.borboblack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 15px;
    background-color: #B5EA5C;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 70px;
}
.borboblacktext{
    text-align: start;
    font-size: 16px;
    margin-left: -30px;
    color: #01400B;
}

.combos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.combo{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 120px;
    height: 120px;
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.combos_text{
    font-size: 22px;
    font-weight: bold;
}

.button_combo{
    margin-top: auto;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
}

.img_combo{
    margin-top: -20%;
    width: 90px;
    height: 90px;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_montar{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.20);
    font-weight: 700;
    font-size: 28px;
    color: #01400B;
}

/* PAGE 3 */

.caixa_busca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-right: 30px;
    padding-left: 15px;
    background: linear-gradient(to right, #F2F2F2 75%, #B5EA5C 75%);
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    color: #01400B;
    margin-bottom: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.img_busca{
    margin-left: -20%;
    width: 80px;
}

.texto_busca{
    text-align: start;
    font-size: 16px;
    color: #01400B;
    margin-left: -15%;
}

/* PAGE 4 */

.div_listagem{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 75%;
}

#listagem{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}

.linha2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 10px;
    margin-top: 2%;
    color: #01400B;
    background-color: #F2F2F2;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.16));
}
.codigo{ /* id do produto desativado */
    padding: 0px;
}
.produto{ /* nome/numero do produto */
    font-weight: bold;
}
.preco{ /* valor do produto */
    text-align: center;
    margin-top: 2%;
    font-size: 24px;
    width: 30%;
    font-weight: bold;
    color: #01400B;
}

.icon_acai{
    width: 70px;
    height: 70px;
    background-color: #65308277;
    border-radius: 10px;
}

.caixa_icon{
    display: flex;
    width: 60px;
    height: 60px;
    background-color: #65308277;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}

.caixa_pedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100px;
    color: #01400B;
    background-color: #F2F2F2;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.16));
}

.texto_pedidos{
    margin: 0;
    font-size: 16px;
    width: 70%;
    
}

.qtd{
    border-radius: 10px;
    background-color: #F2F2F2;
    justify-content: space-around;
    border: 2px solid #653082;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    height: 25%;
    width: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.qtd_caixa{
    width: 25%;
}


.caixas_pedidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.preco_pedidos{
    text-align: center;
    margin-top: 2%;
    font-size: 24px;
    width: 55%;
    font-weight: bold;
    color: #01400B;
}

.pagamento_pedidos{
    background-color: #B5EA5C;
    font-size: 24px;
    font-weight: bold;
    color: #01400B;
    width: 90%;
    height: 70px;
    border-radius: 10px;
    margin-bottom: 2%;
    margin-top: auto;
    filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.25));
}

.img_perfil{
    margin-top: -25px;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    background: 
    linear-gradient(180deg, #B5EA5C 0%, #761196 100%) padding-box,
    linear-gradient(180deg, #B5EA5C 0%, #761196 100%) border-box;
    border-radius: 50em;
    border: 3px solid transparent;
    position: relative;
    display: inline-block;
}

#imagem{
    border-radius: 50%;
}

.img_perfil .img_perfil_edit {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.img_perfil:hover .img_perfil_edit {
    display: inline;
}

/* .fundo_perfil{
    width: 200px;
    height: 200px;
} */

#meu_upload{
    visibility: hidden;
}

.caixa_perfil{
    background-color: rgba(255, 255, 255, 0.10);
    width: 80%;
    border-radius: 20px;
    margin-top: 20px;
}

.caixas_perfil{
    display: flex;
    flex-direction: row;
    justify-content: left;
    
    width: 80%;
    height: 20%;
    font-size: 12px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.logout_perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 80%;
    height: 20%;
    font-size: 12px;
}

.caixas_perfil h1  {
    margin-left: 10px;
} 

.logout_perfil h1  {
    margin-left: 10px;
    color: #B5EA5C;
} 

.setinha_perfil{
    margin-left: auto;
}
/* Page 6 */
.complementos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.comp{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 120px;
    height: 120px;
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
    margin-top: 4px;
}
.img_comp{
    width:100px;
    height: 100;
    margin-top: -25px;
}
.botao_six{
    width: 80px;
    height: 60px;
    background-color: #B5EA5C;
    margin-top: -60px;
    border-radius: 7px;
    margin-left: 180px;
}

.comp_text{
    font-size: 22px;
    color: #01400B;
}

/* Page 7 */

.retangulo{
 width: 300px;
 height: 450px;
 background-color: white;
 border-radius: 10px;
 margin-top: -10px;
}

.img_ret{
    width: 250px;
    height: 370px;
    margin-top: 20px;
    margin-left: 30px;
}

.tamanhos{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80px;
    height: 80px;
    background-color:#B5EA5C;
    margin: 10px;
    border-radius: 10px;
    margin-top: 15px;
    
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}
.tam_text{
   color: #01400B;
  font-size: 40px;
  margin-left: 30px;
  margin-left:5px;
 margin-top: 4px;
 font-weight: bold;
}
.tam_text1{
    color: #01400B;
    font-size:20px;
    margin-left:5px;
}

  

/* MENU BAR */

.menu_bar{
    margin-top: auto;
    width: 100%;
    height: 55px;
    background: #530274;
    border-top: 0.1px solid #F2F2F2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_button{
    background: rgba(255, 255, 255, 0);
    border: none;
}

.menu_img{
    width: 80%;
    height: 80%;
}

.tela_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

