@media only screen and (max-width: 426px) {
    body {background-image: url(fundo.png);}}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    margin: 0;
    background-color: #653082;
    color: #F2F2F2;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    animation: fadein 3s;
}

@keyframes fadein{
    from { opacity: 0;}
    to   { opacity: 1;}
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 200px;
    margin-bottom: 30px;
    margin-top: 30px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-weight: bold;
}

section{
    margin-bottom: 40px;
}

b{
    font-weight: 800;
}

/* PRE STYLE */

.fontLight{
    font-weight: 200;
}

.noMargin{
    margin: 0px;
}

.shadow{
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.titulo{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-left: 5%;
}

.button_voltar{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    margin-right: 5%;
}

.none{
    border: none;
    outline: none;
    background: transparent;
}

.qtd input{
    text-align: center;
}

/* PAGE 1 */

.input_login{
    border-radius: 8px;
    border: none;
    width: 200px;
    height: 35px;
    padding-left: 10px;
    outline: none;
}

.texto_login{
    display: flex;
    align-self: flex-start;
}

.button{
    width: 185px;
    height: 50px;
    margin-top: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.20);
    font-weight: 700;
    font-size: 28px;
    color: #01400B;
}

.linha{
    position: absolute;
    top: 90%;
    left: auto;
    margin-left: -100px;
    width: 200px;
    height: 4px;
    border-radius: 20px;
    background-color: #8717A6;
    box-shadow: 0px 0px 100px 1px #F2F2F2F2;
}

/* PAGE 2 */

.borboblack{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 30px;
    padding-left: 15px;
    background-color: #B5EA5C;
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 70px;
}
.borboblacktext{
    text-align: start;
    font-size: 16px;
    margin-left: -30px;
    color: #01400B;
}

.combos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.combo{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 120px;
    height: 120px;
    background-color: #F2F2F2;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.combos_text{
    font-size: 22px;
    font-weight: bold;
}

.button_combo{
    margin-top: auto;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
}

.img_combo{
    margin-top: -20%;
    width: 90px;
    height: 90px;
}

.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button_montar{
    width: 280px;
    height: 50px;
    border-radius: 10px;
    background-color: #B5EA5C;
    border: none;
    box-shadow: 0px 4px 10px  rgba(0, 0, 0, 0.20);
    font-weight: 700;
    font-size: 28px;
    color: #01400B;
}

/* PAGE 3 */

.caixa_busca{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding-right: 30px;
    padding-left: 15px;
    background: linear-gradient(to right, #F2F2F2 75%, #B5EA5C 75%);
    border: none;
    border-radius: 10px;
    width: 300px;
    height: 100px;
    color: #01400B;
    margin-bottom: 50px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
}

.img_busca{
    margin-left: -20%;
    width: 80px;
}

.texto_busca{
    text-align: start;
    font-size: 16px;
    color: #01400B;
    margin-left: -15%;
}

/* PEDIDOS */

.icon_acai{
    width: 70px;
    height: 70px;
}

.caixa_icon{
    display: flex;
    width: 70px;
    height: 70px;
    background-color: #65308277;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-left: 12px;
    margin-right: 12px;
}

.caixa_pedidos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 100px;
    color: #01400B;
    background-color: #F2F2F2;
    border-radius: 10px;
    filter: drop-shadow(4px 4px 16px rgba(0, 0, 0, 0.16));
}

.texto_pedidos{
    margin: 0;
    font-size: 16px;
    width: 70%;
    
}

.qtd{
    border-radius: 10px;
    background-color: #F2F2F2;
    justify-content: space-around;
    border: 2px solid #653082;
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    height: 25%;
    width: 50%;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

.qtd_caixa{
    width: 25%;
}


.caixas_pedidos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.preco_pedidos{
    text-align: center;
    margin-top: 2%;
    font-size: 24px;
    width: 55%;
    font-weight: bold;
    color: #01400B;
}

.pagamento_pedidos{
    border-radius: 10px;
    background-color: #F2F2F2;
    color: #01400B;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 20%;
    width: 100%;
    filter: drop-shadow(0px 10px 100px rgba(0, 0, 0, 0.25));
    margin-top: 25%;
}
.pagamento_pedidos input{
    width: 20%;
    border: none;
    outline: none;
    background: transparent;
    color: #01400B;
    font-size: 24px;
    font-weight: bold;
}
.pagamento_pedidos button{
    background-color: #B5EA5C;
    width: 20%;
    height: 60%;
    border-radius: 10px;
}
/* MENU BAR */

.menu_bar{
    margin-top: auto;
    width: 100%;
    height: 55px;
    background: #530274;
    border-top: 0.1px solid #F2F2F2;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_button{
    background: rgba(255, 255, 255, 0);
    border: none;
}

.menu_img{
    width: 80%;
    height: 80%;
}

.tela_login{
    display: flex;
    flex-direction: column;
    align-items: center;
}
